<h1>Welocome to {{hotelName}}</h1>
<div [hidden] = "toggleflag">
    <p>No of Rooms:</p>
    <div [ngStyle]="{'color': room.availabelRooms > 0 ? 'blue' : 'yellow'}" 
    [innerText]="totalRoom"></div>
</div>

<!-- {{room?.availabelRooms ?? 'No Rooms'}} -->

<div *ngIf="room?.availabelRooms">
    <p>Rooms List</p>
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th> 
            <th>Room Amenities</th>
            <th>Price</th>
            <!-- <th>Photo</th> -->
            <th>checkIntime</th>
            <th>checkOuttime</th>
        </tr>
    <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let rooms of roomList; let e = even; let o = odd; let i = index">
        <td>{{i}}</td>
        <td>{{ e ? "Even" : "Odd"}}</td>
        <td>{{rooms.RoomNumber}}</td>
        <td>{{rooms.RoomType}}</td>
        <td>{{rooms.amenities}}</td>
        <td>{{ rooms.price | currency:'INR' }}</td>
        <!-- <td>{{rooms.photos}}</td> -->
        <td>{{rooms.checkintime}}</td>
        <td>{{rooms.checkouttime| date}} </td>
    </tr>
    </table>
</div>

<div>
    <button (click)="toggle()">Toggle</button>
</div>
