<div class="container mt-5">
  <h1 class="mb-4">Welcome to {{hotelName}}</h1>

  <div [hidden]="toggleflag" class="card p-3 mb-3">  <!-- p-3 Adds padding inside the card mb-3 Adds space below the card -->
    <p class="mb-2"><strong>No of Rooms:</strong></p>
    <div [ngStyle]="{'color': room.availabelRooms > 0 ? 'blue' : 'yellow'}"
         [innerText]="totalRoom"
         class="fs-5 fw-bold"></div>
  </div>

<div *ngIf="selectedrooms">
    {{selectedrooms | json}}
</div>

  <div *ngIf="room?.availabelRooms" class="mb-4">
    <hinv-rooms-list [rooms_lis]="roomList"
    (selectedrooms)="selectroom($event)"></hinv-rooms-list>
  </div>

  <div>
    <button class="btn btn-primary" (click)="toggle()">Toggle</button>
  </div>
</div>
